/* General Styles */
* {
    font-family: "FiraCode Nerd Font";
    font-size: 17px;
    color: #b7bdf8;
    border: none;
    border-radius: 0px;
}

/* Window Styles */
window {
    font-size: 17px;
    background-color: #1e1e2b;
    border: 1px solid #b7bdf8;
    /*border-radius: 10px;*/
    padding: 10px;
}

/* Entry Styling */
#entry {
    padding: 0.5em;
    /* border-radius: 6px; */
    color: #b7bdf8;
}

#entry:selected {
    background: #313244;
    margin: 0 2 0 2px;
}

#entry:selected #text {
    font-weight: bold;
    color: #b7bdf8;
}

#text {
    margin-left: 1em;
    color: #b7bdf8;
}

#input {
    background-color: #1e1e2b;
    color: white;
    padding: 0.4em;
    border-radius: 6px 6px 0px 0px;
    font-size: 16px;
    border-top: 1px solid #b7bdf8;
    border-left: 1px solid #b7bdf8;
    border-right: 1px solid #b7bdf8;
}
